<!DOCTYPE html>
<html>
<head>
	<title>Todos</title>
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" type="text/css" href="/css/lib/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/custom.css">
	<script src="/js/lib/angular.min.js"></script>
	<script src="/js/lib/jquery.min.js"></script>
	<script src="/js/lib/bootstrap.min.js"></script>
	<script src="/js/app.js"></script>
  <script src="/js/service.js"></script>
	<script src="/js/controller.js"></script>
	<script src="/js/directive.js"></script>
</head>
<body>

<div class="wrapper" ng-app="todosapp" ng-controller="mainCtrl">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-xs-12 text-center">
        <div class="note-creator shadow-2" ng-style="{'background-color': newNote.color}">
          <form class="form-custom" ng-submit="onFromSubmit(newNote)">
            <input type="text" class="col-lg-12 col-xs-12 title" name="title" ng-model="newNote.title" placeholder="Title" ng-if="isUserTyping" />
            <input type="text" class="col-lg-12 col-xs-12" name="value" ng-model="newNote.value" placeholder="Take a note..." ng-focus="onUserTyping()" />
            <div class="actions col-lg-12 col-xs-12 row" ng-if="isUserTyping">
              <div class="col-xs-3">
            <color-picker colors="{{colors}}"></color-picker>
          </div>
              <button class="btn-light">Done</button>
            </div>
          </form>
        </div>
        
        <div class="row">
          <note-card ng-repeat="note in notes"/>
        </div>
          
        
        
        
        
      </div>
    </div>
  </div>

  <div class="login-wrapper" ng-if="loginDivVisibility">
    <pre>{{loginDivVisibility}}</pre>
    <div class="login-div">
      <button class="btn btn-primary"><a href="/auth/twitter">Login with twitter</a></button>
    </div>
  </div>
</div>


</body>
</html>