<!DOCTYPE html>
<html>
<head>
	<title>Todos</title>
  <link href="/favicon.ico?v=2" rel="shortcut icon" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" type="text/css" href="/css/lib/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/custom.css">
	<script src="/js/lib/angular.min.js"></script>
	<script src="/js/lib/jquery.min.js"></script>
	<script src="/js/lib/bootstrap.min.js"></script>
	<script src="/js/app.js"></script>
	<script src="/js/controller.js"></script>
	<script src="/js/directive.js"></script>
</head>
<body>

<div class="wrapper" ng-app="todosapp" ng-controller="mainCtrl">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-xs-12 text-center">
        <div class="note-creator shadow-2" ng-style="{'background-color': newNote.color}">
          <form class="form-custom" ng-submit="onFromSubmit(newNote)">
            <input type="text" class="col-lg-12 col-xs-12 title" name="title" ng-model="newNote.title" placeholder="Title" ng-if="isUserTyping" autocomplete="off" />
            <input type="text" class="col-lg-12 col-xs-12" name="value" ng-model="newNote.value" placeholder="Take a note..." ng-focus="onUserTyping()" autocomplete="off" />
            <div class="actions col-lg-12 col-xs-12 row" ng-if="isUserTyping">
              <div class="col-xs-3">
            <color-picker colors="{{colors}}"></color-picker>
          </div>
              <button class="btn-light">Done</button>
            </div>
          </form>
        </div>
        
        <div class="row">
          <note-card ng-repeat="note in user.notes track by $index"/>
        </div>
          
        
        
        
        
      </div>
    </div>
  </div>

  <div class="login-wrapper" ng-if="loginDivVisibility">
    <div class="login-div">
      <a href="/auth/twitter" class="btn btn-primary btn-custom login-btn">Login with twitter</a>
      <a href="/auth/facebook" class="btn btn-primary btn-custom login-btn">Login with Facebook</a>
      <small class="info-text">You will need to login so that we can save your notes.</small>
    </div>
  </div>

  <div class="logout" ng-if="!loginDivVisibility">
    <div class="creden-btn-wrapper">
      <button class="btn btn-info btn-custom btn-creden">
        <img ng-src="{{user.photo}}" width="20px" height="20px" />
        <span>Hello {{user.displayName}}</span>
      </button>
    </div>

    <div class="logout-btn-wrapper">
      <a ng-click="onLogoutClick()" class="btn btn-info btn-logout btn-custom" role="button">Logout</a>
    </div>
  </div>
</div>


</body>
</html>