@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);

* {
box-sizing: border-box;
}

body, html, main, .main, .app, app {
min-height: 100%;
height: 100%;
background-color: #efefef;
padding: 30px 5px;
}

body {
font-family: 'Roboto', sans-serif;
}

input{
display: block;
border: none;
background-color: transparent;
outline: none;
color: rgba(0,0,0,0.6);
margin-bottom: 15px;
}

.shadow-2 {
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.title {
font-weight: bold;
color: rgba(0,0,0,0.8);
}
.note-creator{
padding: 20px;
background-color: white;
border-radius: 3px;
margin-bottom: 20px;
}
.form-custom{
width: 80%;
}


.btn-light {
border: none;
outline: none;
border-radius: 2px;
min-width: 60px;
color: rgba(0,0,0, 0.6);
text-transform: uppercase;
line-spacing: 1px;
padding: 5px;
text-align: center;
background-color: transparent;
cursor: pointer;
}

.btn-light:hover {
background-color: rgba(0,0,0, 0.2);
}

.btn-light:disabled, .btn-light[disabled], .btn-light.disabled {
cursor: not-allowed;
background-color: rgba(0,0,0,.12);
color: rgba(0,0,0,.26);
}

.note-card {
padding: 15px;
border-radius: 2px;
width: 100%;
position: relative;
margin: 15px;
}
.title {
font-size: 1.2rem;
font-weight: bold;
text-align: left;
color: rgba(0,0,0,0.8);
}
.value {
text-align: left;
font-size: 1.4rem;
font-weight: 200;
}

.note-card {
padding: 15px;
border-radius: 2px;
width: 100%;
position: relative;
}
.title {
font-size: 1.2rem;
font-weight: bold;
text-align: left;
color: rgba(0,0,0,0.8);
}
.value {
text-align: left;
font-size: 1.4rem;
font-weight: 200;
}
.icon {
position: absolute;
color: black;
border: 1px solid lightgrey;
background-color: white;
font-size: 30px;
top: -10px;
left: -10px;
width: 40px;
height: 40px;
border-radius: 100%;
cursor: pointer; 
}

.shadow-1 {
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.shadow-1:hover {
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.color-selector {
position: relative;
margin-right: 20px;
margin-top: 10px;
}
.selector {
min-width: 150px;
border: 1px solid lightgrey;
padding: 10px;
background-color: #efefef;
position: absolute;
top: -50px;
left: 0;
}
.color {
height: 30px;
width: 30px;
border-radius: 100%;
cursor: pointer;
margin-right: 10px;
margin-bottom: 10px;
}
.color:hover {
border: 2px solid darkgrey;
}
.icon2 {
font-size: 1.4rem;
color: grey;
cursor: pointer;
}


.login-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
}


.login-div{
  position: fixed;
  padding: 60px 30px 30px 30px;
  border: 1px solid #777;
  width: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #efefef;
  transition: background-color 0.5s;
}

.login-div:hover{
  background-color: #fff;
}

button a{
  color: #fff;
}

button a:hover{
  text-decoration: none;
}
a{
  text-decoration: none;
}


.logout{
  position: absolute;
  top: 5px;
  right: 20px;
  width: 200px;
  transition: all 0.5s;
}

.logout:hover{
  transform: rotateY(180deg);
}

.btn-logout, .btn-creden{
  width: 200px;
  max-width: 200px;
}

.logout-btn-wrapper{
  position: absolute;
  width: 200px;
  max-width: 200px;
  transform: rotateY(180deg);
  opacity: 0;
}

.logout-btn-wrapper:hover{
  opacity: 1;
}

.creden-btn-wrapper{
  width: 200px;
  max-width: 200px;
  position: absolute;
}

.btn-custom{
  border-radius: 0;
}

.login-btn{
  width: 200px;
  margin: 5px 0;
}


button a{
  width: 100%;
  height: 100%;
}

.info-text{
  display: block;;
  color: #777;
  margin-top: 20px;
}